<div class="container-fluid bg-white" >
    <header class="row align-items-center justify-content-around border-bottom border-ligth pt-2 pb-2">
        <div class="col-12 col-sm-6 col row align-items-center justify-content-center justify-content-sm-start">
            <a href="#index">
                <img class="logo_header" src="img/logo.png" alt="{{i18n 'Logo' }}">
            </a>

            <a href="#index">
                <img class="nombre_header" src="img/nombre.png" alt="TikTak">
            </a>
        </div>

        <div id="userbar">
            Loading...
        </div>

    </header>

    <main class="row mb-5 justify-content-center">
        <div id="maincontent">
                Loading..
        </div>
    </main>

    <div id="modallogin"></div>

    <div id="modalregister"></div>

    <div id="modalupload"></div>

    <footer class="row align-items-md-center border-top border-ligth fixed-bottom bg-white mt-5 p-2">

        <div id="languagecontrol">Loading...</div>

        <div class="col-8">
            <p class="text-right m-0">©2021 TikTak</p>
        </div>

    </footer>
</div>