<header class="row align-items-center justify-content-around border-bottom border-ligth pt-2 pb-2">
    <div class="col-12 col-sm-6 col row align-items-center justify-content-center justify-content-sm-start">
        <a href="index.php">
            <img class="logo_header" src="img/logo.png" alt="{{i18n 'Logo' }}">
        </a>

        <a href="index.php">
            <img class="nombre_header" src="img/nombre.png" alt="TikTak">
        </a>
    </div>

    <div id="userbar" class="col-12 col-sm-6 row justify-content-center align-items-center justify-content-sm-end">
        Loading...
    </div>

</header>

<main id="maincontent">Loading...</main>

<footer class="row align-items-md-center border-top border-ligth fixed-bottom bg-white mt-5 p-2">

    <div id="languagecontrol" class="col-4 dropup">Loading...</div>

    <div class="col-8">
        <p class="text-right m-0">©2020 TikTak</p>
    </div>

</footer>